:root{
--dark-blue: hsl(209, 23%, 22%);
--very-dark-blue-background:hsl(207, 26%, 17%);
--very-dark-blue-text: hsl(200, 15%, 8%);
--dark-gray: hsl(0, 0%, 52%);
--very-light-gray:hsl(0, 0%, 98%);
 --white:hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--very-light-gray);
}

header{
    background-color: var(--white);
    border-bottom: 1px solid #f1ecec;
}

header div{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
}

header h1{
    font-size: 25px;
}

header button{
    background-color: transparent;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
}

main, .filters{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
}

main{
    margin-top:30px;
}

.filters{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.filters input, .filters select{
    border: none;
    background-color: var(--white);
    padding: 15px 15px;
    box-shadow: 0px 0px 5px 0px rgba(206, 206, 206, 1);
    border-radius: 4px;
    line-height: 20px;
    font-size: 16px;
}

.filters input{
    background-color: var(--white);
    width: 450px;
    padding: 15px 35px;
    box-shadow: 0px 0px 5px 0px rgba(206, 206, 206, 1);
    background: url(assets/search-outline.svg) no-repeat scroll 10px 16px;
    background-size: 16px;
    border-radius: 4px;
}

.filters input:focus-visible, main .filters select:focus-visible{
    outline: none;
}

.filters select{
appearance: none;
  width: 200px;
  background: url(assets/chevron-down-outline.svg) no-repeat scroll 170px 16px;
  background-size: 16px;
  cursor: pointer;
}

.filters option{
    cursor: pointer;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 70px;
    list-style: none;
}

ul li{
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: -1px 13px 24px 0px rgba(206, 206, 206, 1);
    overflow: hidden;
}

li div img{
   width: 100%;
   aspect-ratio: 160/98;
}

li .countries-info{
    padding: 20px 20px 25px 20px;
}

li .countries-info h3{
    font-size: 18px;
    margin-bottom: 15px;
}

.info{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 5px;
}

.info p{
    font-weight: 600;
}

.info p, .info span{
    font-size: 14px;
}


@media only screen and (max-width:1024px) {
    ul{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width:768px) {
    header h1{
        font-size: 18px;
    }

    header button{
        font-size: 14px;
    }

    ul{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:480px) {
    ul{
        grid-template-columns: 1fr;
    }
}