:root{
--dark-blue: hsl(209, 23%, 22%);
--very-dark-blue-background:hsl(207, 26%, 17%);
--dark-gray: hsl(0, 0%, 52%);
--very-light-gray:hsl(0, 0%, 98%);
 --white:hsl(0, 0%, 100%);
 --background-main-section:hsl(0, 0%, 98%);
 --background: hsl(0, 0%, 100%);
 --text-color: hsl(200, 15%, 8%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--background-main-section);
}

header{
    background-color: var(--background);
    border-bottom: 1px solid #f1ecec;
}

header div{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
}

header h1{
    font-size: 25px;
}

header button{
    background-color: transparent;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
}

header button ion-icon{
margin-right: 10px;
vertical-align: text-top;
}

main, .filters{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

main{
    margin: 50px auto;
}

.filters{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.filters input, .filters select{
    border: none;
    background-color: var(--background);
    padding: 15px 15px;
    box-shadow: 0px 0px 5px 0px rgba(206, 206, 206, 1);
    border-radius: 4px;
    line-height: 20px;
    font-size: 16px;
}

.filters input{
    background-color: var(--background);
    width: 450px;
    padding: 15px 35px;
    box-shadow: 0px 0px 5px 0px rgba(206, 206, 206, 1);
    background: url(assets/search-outline.svg) no-repeat scroll 10px 16px;
    background-size: 16px;
    border-radius: 4px;
}

.filters input:focus-visible,.filters select:focus-visible{
    outline: none;
}

.filters select{
appearance: none;
  width: 200px;
  background: url(assets/chevron-down-outline.svg) no-repeat scroll 170px 16px;
  background-size: 16px;
  cursor: pointer;
}

.filters option{
    cursor: pointer;
}

ul.all-countries{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 70px;
    list-style: none;
}

ul.all-countries li{
    background-color: var(--background);
    border-radius: 10px;
    box-shadow: -1px 13px 24px 0px rgba(206, 206, 206, 1);
    overflow: hidden;
}

ul.all-countries li a{
    text-decoration: none;
    color: var(--text-color);
}

li div img{
   width: 100%;
   aspect-ratio: 160/98;
}

li .countries-info{
    padding: 20px 20px 25px 20px;
}

li .countries-info h3{
    font-size: 18px;
    margin-bottom: 15px;
}

.info{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 5px;
}

.info p{
    font-weight: 600;
}

.info p, .info span{
    font-size: 14px;
}

.hide-filters{
    display: none;
}

.select-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: var(--background);
    padding: 15px 15px;
    box-shadow: 0px 0px 5px 0px rgba(206, 206, 206, 1);
    border-radius: 4px;
    line-height: 20px;
    font-size: 16px;
    width: 200px;
    cursor: pointer;
}

.select-btn ion-icon{
    transition: transform 0.2s linear;
}

.region-filters.active .select-btn ion-icon{
    transform: rotate(-180deg);
}

.content{
    position: absolute;
    display: none;
    width: 200px;
    margin-top: 5px;
    padding: 7px 15px;
    background-color: var(--background);
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgba(206, 206, 206, 1);
}

.region-filters.active .content{
    display: block;
}

.content ul.options{
    list-style: none;
}

.content ul.options li{
    padding:3px;
    cursor: pointer;
}

.content ul.options li:hover, .content ul.options li.selected{
    font-weight: 600;
}

.detail-button{
    margin-top: 30px;
    border-radius: 4px;
    display: inline-block;
    background: url(assets/arrow-back-outline.svg) no-repeat scroll 25px;
    background-size: 18px;
    font-size: 18px;
    padding: 5px 30px 5px 50px;
    color: var(--text-color);
    text-decoration: none;
    box-shadow: 0px 0px 5px 0px rgba(206, 206, 206, 1);
}

.country-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*gap: 20px;*/
    margin-top: 50px;
}

.country-details .country-flag {
    width: 100%;
}

.country-details .country-flag img{
    width: 80%;
    height: auto;
}

.country-details .country-info{
    padding: 20px 0;
}

.country-details .country-info .main-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
}

.country-details .country-info .right-column{
    margin-top: 45px;
}

.country-details .country-info h2{
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
}

.country-details .country-info .info p{
    font-size: 16px;
    font-weight: 600;
}

.country-details .country-info .info span{
    font-size: 16px;
    font-weight: 400;
}

.country-details .country-info .country-borders{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.country-details .country-info .country-borders p{
    font-weight: 600;
}

.country-borders .detail-button{
    background: transparent;
    margin-top: 0;
    padding: 2px 20px;
    font-size: 16px;
}

@media only screen and (max-width:1024px) {
    ul.all-countries{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .country-details {
        grid-template-columns: 1fr;
    }

}

/*Dark theme*/
body.dark{
    --background-main-section:hsl(207, 26%, 17%);
    --background: hsl(209, 23%, 22%);
    --text-color: hsl(0, 0%, 100%);
}

@media only screen and (max-width:768px) {
    header h1{
        font-size: 18px;
    }

    header button{
        font-size: 14px;
    }

    .filters{
        flex-direction: column;
        gap: 30px;
    }

    .filters input{
        width: 100%;
    }

    ul.all-countries{
        grid-template-columns: 1fr 1fr;
    }

       
.country-details .country-info .main-info{
    grid-template-columns: 1fr;
}

.country-details .country-info .country-borders{
    display: block;
}

.country-details .country-info .country-borders a{
    margin-top: 10px;
    margin-right: 10px;
}
}

@media only screen and (max-width:480px) {
    ul.all-countries{
        grid-template-columns: 1fr;
    }
}